.home {
  background-image: url("../image/Fondos-pantalla-perros-20.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200vh;
  width: 100%;
  position: absolute;
  top: 0;

}

.izquierda {
display: flex;
justify-content: center;
align-items: center;
}

.navidad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #FF9F33;
  padding:1px;
  font-size: large;
}

.texto{
  text-align: center;
}

.filtros {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  background: #E8C586;
  padding:0.5px;
  backdrop-filter: blur(1px);
  background-color: rgba(255, 255, 255, 0.5);  
}

.search input[type=text]{
  width:300px;
  height:25px;
  border-radius:25px;
  border: none;
}

.search{
  float:right;
  margin:7px;
}
 
.center {
  margin-top: 10px;
  position: relative;
  display: flex;
  align-items: right;
  justify-content: right;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  margin-top: 10px;
  margin-left: 2%;
}
.tit{
  text-decoration:none;
  color:black;
}

